@import url(./fonts.css);

:root {
  --page: #fff8f1;
  --brown: #7C6D5E;
  --white: #fff;
  --gray: #6A6A6A;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Ubuntu, sans-serif;
  text-align: center;
  background: var(--page);
  font-size: 14px;
}

h1 {
  color: #333;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.container {
  max-width: 1463px;
  margin: 0 auto;
  padding: 0 13px;
}

.homepage-container {
  max-width: 880px;
  padding: 0 13px;
  margin: 0 auto;
}

.main {
  flex-grow: 1;
}



.format {
  padding: 3px 7px;
  border-radius: 3px;
  font-weight: 700;
  display: flex;
  gap: 0 2px;
  cursor: default;

}


.format-length {
  font-weight: 400;
  display: inline-block;
}


.format--jpeg {
  border: 1px solid #f3c7ae;
  background-color: #fad2bc;
  color: #846452;
}

.format--jpeg .format-length {
  color: #CB9C82;
}

.format--jpg {
  border: 1px solid #CCACF3;
  background-color: #E0C8FF;
  color: #8B71AC;
}

.format--jpg .format-length {
  color: #BEA2E2;
}

.format--png {
  border: 1px solid #EE87D7;
  background-color: #FABCEC;
  color: #B56CA4;
}


.format--png .format-length {
  color: #E792D3;
}

.format--svg {
  border: 1px solid #94DCC2;
  background-color: #BCFAE4;
  color: #5FA98F;
}

.format--svg .format-length {
  color: #94DCC2;
}


.format--webp {
  border: 1px solid #D9E0B0;
  background-color: #F1FABC;
  color: #A2AC63;
}

.format--webp .format-length {
  color: #CDD88A;
}


.format--ico {
  border: 1px solid #8EC6E5;
  background-color: #C8EBFF;
  color: #729BB2;
}

.format--ico .format-length {
  color: #A5CDE3;
}

.format--gif {
  border: 1px solid #A5B6EF;
  background-color: #BCCAFA;
  color: #5D6DA5;
}

.format--gif .format-length {
  color: #8697D2;
}

.background {
  background-image: url(../backgrounds/background.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}


@media (max-width:982px) {
  .background {
    background-image: url(../backgrounds/background-m.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 480px) {
  .background {
    background-image: none;
  }
}